@use "sass:math";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

@function calcRowHeightVar($count, $rowGap, $outerGap) {
  $rawHeight: math.div(100svh, $count);
  $spacingCount: $count - 1;
  $spacingTotal: $spacingCount * $rowGap;
  $spacingPerRow: math.div($spacingTotal, $count);
  $outerGapsTotal: 2 * $outerGap;
  @return calc(
    #{$rawHeight} - #{$spacingPerRow} - (#{$outerGapsTotal} / #{$count})
  );
}

@mixin non-mobile {
  @media (min-width: 975px) {
    @content;
  }
}

@mixin widest-screens {
  @media (min-width: 2230px) {
    @content;
  }
}

:root {
  --column-width: min(300px, calc(75vw - 2 * 1rem));
  --row-height: #{calcRowHeightVar(2, 1rem, 1rem)};
  --scroll-width: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Hothic A1", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  background-color: #001c20;
}

* {
  box-sizing: border-box;
}

a {
  color: #1d9fb3;
  font-weight: 800;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));
  grid-auto-rows: var(--row-height);
  gap: 1rem;
  padding: 1rem;
}

.body__info {
  grid-row: 1 / span 8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: opacity 0.25s ease-out;
}
.body {
  &__info,
  &__footer {
    grid-column: 1 / span 1;

    section {
      &:first-child {
        h2 {
          margin-top: 0;
        }
      }
    }
  }
}

.header {
  padding-top: 1rem;
  flex: 1;
  min-height: calc(100svh - 1rem);

  &__aka {
    margin-top: 1rem;
    p {
      margin: 0;
    }

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__title {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    strong {
      color: #1d9fb3;
    }
  }

  &__translated-title {
    color: white;
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
    display: block;
    line-height: 1;
    margin: 0;

    &__container {
      height: 1rem;
      display: block;
      overflow: hidden;
      position: relative;

      &__inner {
        position: relative;
      }
    }
  }

  @include non-mobile {
    padding-top: 0;
  }

  h1 {
    margin: 0;
    font-weight: 900;
  }
  h2 {
    margin: 0;
    font-weight: 500;
  }
}

body {
  &:has(.tsuru__container:hover) {
    .tsuru__container {
      $tcontainer-prefix: &;
      &:hover {
        opacity: 1;
      }

      @at-root #{$tcontainer-prefix}:not(:hover) {
        opacity: 0.5;
        transition: opacity 0.25s ease-in;
      }
    }

    .body__info,
    .filter__group__container {
      opacity: 0.5;
      transition: opacity 0.25s ease-in;
    }
  }
}

.page {
  height: fit-content;
  code {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    font-family: Roboto Mono, serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;

    overflow-x: auto;
    scrollbar-width: thin;
  }

  @include non-mobile {
    grid-column: 2 / span 2;
  }
}

.body__footer {
  overflow: hidden;
}

.body__page {
  grid-template-rows: initial;
  grid-auto-rows: initial;
  .body__info {
    grid-row: initial;
  }
  .body__footer {
    grid-column: initial;
  }
  h1 {
    margin-top: 0;
  }
}

.tsuru {
  $prefix: &;
  &__container {
    transition: opacity 0.25s ease-out;
    overflow: hidden;
    cursor: pointer;
  }

  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;

  &__caption {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "date actions"
      "location actions";
    gap: 0.2rem 1rem;
    padding-top: 1rem;

    &__date {
      grid-area: date;
      margin: 0;
      font-weight: 700;
      font-size: 1rem;
    }

    &__location {
      font-size: 0.8rem;
      grid-area: location;
      margin: 0;
      font-weight: 300;
    }

    &__actions {
      $this: &;

      @at-root #{$prefix}--overlay-open {
        #{$prefix}__overlay {
          @debug &;
          cursor: initial;
          padding: 1rem 1rem;
          opacity: 1;
          height: 100%;
          pointer-events: all;
        }

        #{$this} {
          @debug &;
          button {
            svg {
              transform: rotate(0deg);

              @include non-mobile {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      grid-area: actions;
      pointer-events: all;
      button {
        cursor: pointer;
        color: #fff;
        border: none;
        outline: none;
        background: transparent;
        padding: 0.25rem 1rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          pointer-events: none;
          transition: transform 0.5s ease-in-out;

          transform: rotate(180deg);
          @include non-mobile {
            transform: rotate(0deg);
          }
        }

        &:hover {
          background: rgba(#fff, 0.1);
        }
      }
    }
  }

  &__overlay {
    font-size: 0.8rem;
    overflow-x: hidden;
    box-sizing: border-box;
    opacity: 0;
    height: 0;
    padding: 0rem 1rem;
    transition: height 0.5s, opacity 0.5s, padding;
    overflow-y: auto;
    white-space: normal;

    img {
      pointer-events: all !important;
    }
  }
}

.me {
  &__images {
    max-height: var(--row-height);
    min-height: var(--row-height);
    height: var(--row-height);
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;

    &__image {
      display: inline-block !important;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.filter {
  &__toggler {
    color: #001c20;
    background: white;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border: 2px solid transparent;
    border-radius: 1rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
  &__group {
    &__container {
      $prefix: &;

      @at-root body.filter--open {
        #{$prefix} {
          display: block;
          grid-column: 1 / span 1;
          grid-row: 1 / span 2;
        }

        .filter__toggler {
          transition: all 0.5s;
          background: #001c20;
          color: #fff;
          border-color: white;
        }

        .body__info {
          grid-column: 1 / span 1;
          grid-row: 3 / span 8;
        }
      }
      display: none;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 4rem;
    }
  }

  outline: none;
  display: block;
  padding: 0.5rem;
  border: none;
  background-color: #001c20;
  color: #fff;
  opacity: 0.85;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background: rgba(#fff, 0.1);
    scale: 1.1;
  }

  &--active {
    background-color: #fff;
    color: #001c20;
    font-weight: 800;
    border: 2px solid #fff;
    &:hover {
      background: #fff;
      color: #001c20;
    }
  }

  $root: &;

  &__group {
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;

    &__title {
      position: absolute;
      background: #001c20;
      color: #fff;
      top: -0.5rem;
      padding: 0 1rem 0 0;
      font-size: 1rem;
      left: 0;
    }

    &--colors {
      width: 100%;

      & {
        #{$root} {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
      }
    }
  }
}

.md-flex {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  & > p {
    flex: 1;
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &-vert {
    display: flex;
    flex-direction: column;
  }
}

.changelog {
  overflow-y: hidden;
  max-height: min(100%, 80svh);
  &__wrapper {
    background: rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 100%;
    height: 100%;
    //    height: min(100%, 80svh);
    padding-right: 0.5rem;
  }
}

// felicette img-loading styles

// prefix = il
.il {
  $prefix: &;
  &-item {
    display: block;
    position: relative;
    overflow: hidden;
    //    aspect-ratio: 3/4;
    aspect-ratio: var(--il-aspect-ratio);
    background: var(--il-main-color);
    width: 100%;
    height: 100%;

    #{$prefix}-img,
    #{$prefix}-thumbnail {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      max-height: 100%;
      object-fit: cover;
      margin: auto;
    }

    #{$prefix}-thumbnail {
      transition: opacity 1s, transform 1s, filter 1s;
      filter: blur(20px);
      transform: scale(1.2);
    }

    &--thumbnail-loaded {
      #{$prefix}-thumbnail {
        opacity: 1;
        filter: blur(10px);
        transform: scale(1.1);
      }
    }

    &--img-loaded {
      #{$prefix}-img {
        opacity: 1;
      }

      #{$prefix}-thumbnail {
        opacity: 0;
        transform: scale(1);
        filter: blur(0);
        pointer-events: none;
      }
    }
  }
}

// modal

.modal {
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;

  &__image {
    background-image: var(--modal-img-src);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}

html {
  &:has(.modal--open) {
    padding-right: var(--scroll-width);
  }
}

body {
  &.modal--open {
    overflow: hidden !important;
    .modal {
      pointer-events: all;
      opacity: 1;
    }
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}

#modal-mouse {
  display: none;

  @include non-mobile() {
    display: block;
    pointer-events: none;
    z-index: 9999;
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    color: #1d9fb3;
    width: 15rem;
    height: auto;
    font-size: 4rem;
    translate: calc(var(--mouse-x) - 50%) calc(var(--mouse-y) - 50%);
    transition: opacity 0.5s ease-out;
    animation: spin 4s linear infinite;

    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
  }
}

body.modal--open {
  cursor: crosshair;
  #modal-mouse {
    @include non-mobile() {
      opacity: 1;

      transition: opacity 1s ease-in both;
    }
  }
}
