:root {
  --column-width: min(300px, calc(75vw - 2 * 1rem));
  --row-height: max(100px, 12lvh);
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Hothic A1", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  background-color: #001c20;
}

* {
  box-sizing: border-box;
}

a {
  color: #1d9fb3;
  font-weight: 800;
}

@function calcAutoRowSize($count, $rowGap) {
  @return calc((#{$count} * var(--row-height)) + (#{$count} - 1) * #{$rowGap});
}

@mixin non-mobile {
  @media (min-width: 800px) {
    @content;
  }
}

html {
  max-width: 100dvw;
  max-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100dvw;

  @include non-mobile {
    display: grid;
    grid-template-columns: var(--column-width) var(--column-width) auto;
    grid-template-rows: initial;
    grid-auto-rows: calcAutoRowSize(2, 1rem);
    grid-template-areas:
      "header header tsuru "
      "about about tsuru "
      "about about tsuru"
      "me-image me-image tsuru"
      "me-text me-text tsuru"
      "donate donate tsuru"
      "changelog changelog tsuru"
      "changelog changelog tsuru"
      "footer footer tsuru";
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: subgrid;
  align-items: baseline;

  h1 {
    margin: 0;
    font-weight: 900;
  }
  h2 {
    margin: 0;
    font-weight: 500;
  }
}

.about,
.donate,
.me__section {
  h2,
  h3,
  p {
    margin: 0;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
  }
}

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: subgrid;
  align-items: baseline;

  h3 {
    margin-top: 1rem;

    @include non-mobile {
      margin-top: 0;
    }
  }

  @include non-mobile {
    grid-template-rows: subgrid;
  }
}

.donate {
  @include non-mobile {
    grid-area: donate;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    align-items: baseline;
  }
}

.changelog {
  max-height: 50svh;
  overflow: hidden;
  display: flex;
  position: relative;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  @include non-mobile {
    grid-area: changelog;
    max-height: initial;
  }

  &__wrapper {
    flex: 1;
    display: block;
    position: relative;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
  }
}

.footer {
  &__text__section {
    font-style: italic;
  }
  &__social-links {
    list-style: none;
    padding-left: 0;
    overflow-x: auto;
    white-space: nowrap;

    @include non-mobile {
      white-space: initial;
      overflow-x: initial;
    }

    &__item {
      width: var(--column-width);
      display: inline-block;
      margin-right: 1rem;

      @include non-mobile {
        margin-right: 0;
        display: block;
        width: initial;
        margin-bottom: 1rem;
      }
    }
  }

  @include non-mobile {
    grid-area: footer;
  }
}

.me__section {
  @include non-mobile {
    grid-area: me-text;
  }
}

.me__images {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;

  @include non-mobile {
    grid-area: me-image;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    height: 100%;
  }

  &__image {
    width: var(--column-width);
    display: inline-block;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    @include non-mobile {
      margin-right: 0;
      overflow: hidden;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.tsuru__list {
  max-width: 100%;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  @include non-mobile {
    display: grid;
    grid-area: tsuru;
    overflow-x: initial;
    overflow-y: initial;
    height: fit-content;
    padding-bottom: 1rem;
    grid-template-columns: repeat(auto-fill, var(--column-width));
    grid-auto-rows: calcAutoRowSize(3, 1rem);
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

.tsuru__container {
  display: inline-block;
  width: var(--column-width);
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }

  @include non-mobile {
    display: block;
    margin-right: 0;
    width: 100%;
  }
}

.tsuru {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;

  &__image {
    flex: 1;
    overflow: hidden;
    object-fit: cover;
    max-height: calc(var(--column-width) * 1.25);
  }

  &__caption {
    &__date,
    &__location {
      margin: 0;
    }

    &__date {
      font-size: 1rem;
      font-weight: 700;
    }

    &__location {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }
}

.filter {
  outline: none;
  display: block;
  padding: 0.5rem;
  border: none;
  background-color: #001c20;
  color: #fff;
  opacity: 0.85;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background: rgba(#fff, 0.1);
    scale: 1.1;
  }

  &--active {
    background-color: #fff;
    color: #001c20;
    font-weight: 800;
    border: 2px solid #fff;
    &:hover {
      background: #fff;
      color: #001c20;
    }
  }

  $root: &;

  &__group {
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;

    &__title {
      position: absolute;
      background: #001c20;
      color: #fff;
      top: -0.5rem;
      padding: 0 1rem 0 0;
      font-size: 1rem;
      left: 0;
    }

    &--colors {
      width: 100%;

      & {
        #{$root} {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
      }
    }
    &__container {
      background-color: #001c20;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      gap: 1rem;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateX(-100%);
      border-right: 2px solid transparent;
      transition: all 0.5s ease-in-out, height 0s;
      padding-bottom: calc(100lvh - 100svh + 2rem);
      width: calc(100dvw);
      padding-left: 1rem;
      padding-right: 1rem;
      @include non-mobile() {
        padding-left: 0;
        padding-right: 0;
        width: calc(2 * var(--column-width) + 1rem);
      }
    }
  }

  &__toggler {
    color: #001c20;
    background: white;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border: 2px solid transparent;
    border-radius: 1rem;
    position: fixed;
    top: calc(100dvh - 1rem - 3rem);
    left: 1rem;

    @include non-mobile {
      right: inherit;
      left: initial;
      border-radius: 1rem 0 0 1rem;
      position: fixed;
      left: calc(2 * var(--column-width) + 2rem);
      transform: translateX(-100%);
      width: auto;
      transition: all 0.5s ease-in-out, top 0.25s ease-out;
    }
  }
}

.header,
.footer,
.me__images,
.donate,
.changelog,
.about {
  transition: opacity 0.5s ease-in;
}

body {
  &.filter--open {
    .header,
    .footer,
    .me__images,
    .donate,
    .changelog,
    .about {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }

    .filter__group__container {
      border-right-color: #fff;
      transition: all 0.5s ease-in-out, border-right-color 0.5s 0.5s ease-in-out,
        height 0s;
      transform: translateX(0);
      @include non-mobile() {
        transform: translateX(1rem);
      }
    }

    @include non-mobile {
      .filter__toggler {
        border-radius: 0 1rem 1rem 0;
        transform: translateX(-2px);
        transition: all 0.5s;
        background: #001c20;
        color: #fff;
        border-color: white;
        border-left-color: transparent;
        transition: all 0.5s ease-in-out, border-color 0.5s 0.5s ease-in-out,
          border-radius 0.5s 0.5s ease-in-out, top 0.25s ease-out;
      }
    }
  }
}

// felicette img-loading styles

// prefix = il
.il {
  $prefix: &;
  &-item {
    display: block;
    position: relative;
    overflow: hidden;
    aspect-ratio: 3/4;
    background: var(--il-main-color);

    &[img-loading-me] {
      display: inline-block !important;
    }

    #{$prefix}-img,
    #{$prefix}-thumbnail {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      display: block;
      opacity: 0;
      max-height: 100%;
      object-fit: cover;
    }

    #{$prefix}-thumbnail {
      transition: opacity 1s, transform 1s, filter 1s;
      filter: blur(20px);
      transform: scale(1.2);
    }

    &--thumbnail-loaded {
      #{$prefix}-thumbnail {
        opacity: 1;
        filter: blur(10px);
        transform: scale(1.1);
      }
    }

    &--img-loaded {
      #{$prefix}-img {
        opacity: 1;
      }

      #{$prefix}-thumbnail {
        opacity: 0;
        transform: scale(1);
        filter: blur(0);
        pointer-events: none;
      }
    }
  }
}
