<footer class="footer">
  <section class="footer__text__section">
    <p>Tsuru No Mundo - Daily</p>
  </section>
  <ul class="footer__social-links">
    <li class="footer__social-links__item">
      <a href="https://bsky.app/profile/daily.tsurunomundo.com.br">Bsky.app/daily.tsurunomundo.com.br</a>
    </li>
    <li class="footer__social-links__item">
      <a href="https://bsky.app/profile/tsurunomundo.com.br">Bsky.app/tsurunomundo.com.br</a>
    </li>
  </ul>
</footer>