<section class="me__images">
  <img
    src="../images/me/3.webp"
    alt="A picture of me"
    class="me__images__image">
  <img
    src="../images/me/1.webp"
    alt="A picture of me"
    class="me__images__image">
  <img
    src="../images/me/2.webp"
    alt="A picture of me"
    class="me__images__image">
</section>
<div class="me__section">
  {% renderFile "./src/_includes/me.md" %}
</div>