---
title: Tsuru No Mundo - Daily
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;800;900&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <script src="js/script.js" type="module" defer></script>
    </head>
    <body>
        <section class="body__info">
            {% include '_header.liquid' %}
            {% include '_about.liquid' %}
            {% include '_donate.liquid' %}
            {% include '_me.liquid' %}
            {% include '_changeLog.liquid' %}
            {% include '_neighbors.liquid' %}
            {% include '_footer.liquid' %}
        </section>
        {{ content | safe }}
        {% include '_filters.liquid' %}
        <div class="modal">
            <div class="modal__content">
                <section class="modal__image"></section>
            </div>
        </div>
        <svg id="modal-mouse" viewbox="0 0 500 400">
            <path id="curve" d="M100,200 C100,0,400,0,400,200 C400,400,100,400,100,200" fill="transparent"/>
            <text width="300" fill="currentColor">
                <textPath xlink:href="#curve" startoffset="0%">
                    Click anywhere to exit.
                </textPath>
            </text>
        </svg>
    </body>
</html>