---
title: Tsuru No Mundo - Daily
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/highlight.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;800;900&display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet">
        <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
        <script src="../js/script.js" type="module" defer></script>
    </head>
    <body class="body__page">
        <section class="body__info">
            {% include '_header.liquid' %}
        </section>
        {{ content | safe }}
        <div class="body__footer">
            {% include '_donate.liquid' %}
            {% include '_about.liquid' %}
            {% include '_me.liquid' %}
            {% include '_neighbors.liquid' %}
            {% include '_footer.liquid' %}
        </div>
    </body>
</html>